<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Wordcount</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" rel="stylesheet">
        <style>
              .container {
                max-width: 1000px;
              }

        </style>
    </head>

    <body>
        <div class="container">
            <h1>Wordcount 3000</h1>
            <form action='/' method='POST' role="form">
                <div class="form-group">
                    <input autofocus class="form-control" id="url-box" name="url" placeholder="Enter URL..."
                           required style="max-width: 300px;" type="text">
                </div>
                <button class="btn btn-default" type="submit">Submit</button>
            </form>
            <br>
            {% for error in errors %}
            <h4>{{ error }}</h4>
            {% endfor %}
        </div>
        <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </body>
</html>